<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Cointopay. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="cointopay_payment_gateway_data_assign" instance="Cointopay\PaymentGateway\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="ctp_place_order_after" instance="Cointopay\PaymentGateway\Observer\SalesOrderPlaceAfterObserver" />
    </event>
</config>
